@page "/board2"
@inject ICardService CardService
@inject NavigationManager NavigationManager
@* @implements IAsyncDisposable *@

<SfKanban TValue="KanbanGame.Shared.Card" KeyField="Card.StatusString" DataSource="CardService.Cards" EnableTooltip="@IsEnableTooltip"> 
    <KanbanColumns>
        <KanbanColumn HeaderText="Waiting" KeyField="@(new List<string>() {"Waiting"})"></KanbanColumn>
        <KanbanColumn HeaderText="Doing" KeyField="@(new List<string>() {"Doing"})"></KanbanColumn>
        <KanbanColumn HeaderText="Done" KeyField="@(new List<string>() {"Done"})"></KanbanColumn>
    </KanbanColumns>
    <KanbanCardSettings HeaderField="StatusString" ContentField="StatusString">
        <Template>
            @{
                KanbanGame.Shared.Card card = (KanbanGame.Shared.Card)context;
                if (card.KanbanTask is null)
                {
                    KanbanGame.Shared.Employee employee = card.Employee;
                    <table class="card-template-wrap table-fixed-layout">
                    <colgroup>
                        <col style="width:30%">
                        <col style="width:70%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="e-image">
                                <img src=@(employee.AvatarPath == null ? "Avatars/Default.png" : card.Employee.AvatarPath) style="width:64px" alt="logo" />
                            </td>
                            <td class="e-title">
                                    <div class="e-card-header">
                                        <div class="e-tooltip-text">@employee.Name</div>
                                    </div>
                            </td>
                        </tr>
                    </tbody>
                </table> 
                }
                else
                {
                    KanbanGame.Shared.KanbanTask task = card.KanbanTask;
                    <table class="card-template-wrap table-fixed-layout">
                    <colgroup>
                        <col style="width:30%">
                        <col style="width:70%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="e-image">
                                <img src=@(task.Employee == null ? "Avatars/Default.png" : card.Employee.AvatarPath) style="width:64px" alt="logo" />
                            </td>
                            <td class="e-title">
                                    <div class="e-card-header">
                                        <div class="e-tooltip-text">@task.Title</div>
                                    </div>
                                    <div class="e-card-content" style="line-height:2.75em">
                                        <div class="e-description">@task.Description</div>
                                    </div>
                            </td>
                        </tr>
                    </tbody>
                </table> 
                }

                }
        </Template>
    </KanbanCardSettings>
</SfKanban>

<style>
.e-kanban .card-template-wrap {
    line-height: normal;
    font-size: 12px;
    width: 100%;
}

.e-kanban .e-card-header {
        font-size: 15px;
        font-weight: 500;
        display: inline-block;
    }
</style>

@code {
    private bool IsEnableTooltip = true;
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        await CardService.GetCards();
        @* await Connect(); *@
    }
@* 
    private async Task Connect()
    {
        hubConnection = new HubConnectionBuilder()
                .WithUrl(NavigationManager.ToAbsoluteUri("/kanbanTaskHub"))
                .Build();

        await hubConnection.StartAsync();

        hubConnection.On<int>("KanbanTaskListUpdated", async (kanbanTaskId) =>
                {
                    // reload data
                    await KanbanTaskService.GetKanbanTasks();
                    StateHasChanged();
                });
    }

    async Task DragStopHandler(DragEventArgs<KanbanGame.Shared.KanbanTask> args)
    {
        KanbanGame.Shared.KanbanTask draggedTask = args.Data[0];
        
        await KanbanTaskService.UpdateKanbanTask(draggedTask.Id, draggedTask);
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("UpdateKanbanTaskList", 0);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
                await hubConnection.DisposeAsync();
        }
    } *@
}