@page "/board"
@inject IKanbanTaskService KanbanTaskService
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<SfKanban TValue="KanbanGame.Shared.KanbanTask" KeyField="StatusString" DataSource="KanbanTaskService.KanbanTasks" EnableTooltip="@IsEnableTooltip"> 
    <KanbanColumns>
        <KanbanColumn HeaderText="Waiting" KeyField="@(new List<string>() {"Waiting"})"></KanbanColumn>
        <KanbanColumn HeaderText="Doing" KeyField="@(new List<string>() {"Doing"})"></KanbanColumn>
        <KanbanColumn HeaderText="Done" KeyField="@(new List<string>() {"Done"})"></KanbanColumn>
    </KanbanColumns>
    <KanbanEvents TValue="KanbanGame.Shared.KanbanTask" DragStop="@DragStopHandler"></KanbanEvents>
    <KanbanCardSettings HeaderField="Title" ContentField="Summary">
        <Template>
            @{
                KanbanGame.Shared.KanbanTask card = (KanbanGame.Shared.KanbanTask)context;

                <table class="card-template-wrap table-fixed-layout">
                    <colgroup>
                        <col style="width:30%">
                        <col style="width:70%">
                    </colgroup>
                    <tbody>
                        <tr>
                            <td class="e-image">
                                <img src=@(card.Employee == null ? "Avatars/Default.png" : card.Employee.AvatarPath) style="width:64px" alt="logo" />
                            </td>
                            <td class="e-title">
                                    <div class="e-card-header">
                                        <div class="e-tooltip-text">@card.Title</div>
                                    </div>
                                    <div class="e-card-content" style="line-height:2.75em">
                                        <div class="e-description">@card.Description</div>
                                    </div>
                            </td>
                        </tr>
                    </tbody>
                </table> 

                }
        </Template>
    </KanbanCardSettings>
    <KanbanTemplates>
        <TooltipTemplate>
            @{
                KanbanGame.Shared.KanbanTask card = (KanbanGame.Shared.KanbanTask)context;
                <div class='e-kanbantooltiptemp'>
                    <table>
                        <tr>
                            <td class="details">
                                <table>
                                    <colgroup>
                                        <col style="width:40%">
                                        <col style="width:60%">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td class="CardHeader">Id:</td>
                                            <td>@card.Id</td>
                                        </tr>
                                        <tr>
                                            <td class="CardHeader">Title:</td>
                                            <td>@card.Title</td>
                                        </tr>
                                        <tr>
                                            <td class="CardHeader">Desc:</td>
                                            <td>@card.Description</td>
                                        </tr>
                                        <tr>
                                            <td class="CardHeader">Status:</td>
                                            <td>@card.Status</td>
                                        </tr>
                                        <tr>
                                            <td class="CardHeader">Assignee Id:</td>
                                            <td>@card.EmployeeId</td>
                                        </tr>
                                        <tr>
                                            <td class="CardHeader">Assignee:</td>
                                            <td>@card.Employee.Name</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </TooltipTemplate>
    </KanbanTemplates>
</SfKanban>

<style>
.e-kanban .card-template-wrap {
    line-height: normal;
    font-size: 12px;
    width: 100%;
}

.e-kanban .e-card-header {
        font-size: 15px;
        font-weight: 500;
        display: inline-block;
    }
</style>

@code {
    private bool IsEnableTooltip = true;
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        await KanbanTaskService.GetKanbanTasks();
        await Connect();
    }

    private async Task Connect()
    {
        hubConnection = new HubConnectionBuilder()
                .WithUrl(NavigationManager.ToAbsoluteUri("/kanbanTaskHub"))
                .Build();

        await hubConnection.StartAsync();

        hubConnection.On<int>("KanbanTaskListUpdated", async (kanbanTaskId) =>
                {
                    // reload data
                    await KanbanTaskService.GetKanbanTasks();
                    StateHasChanged();
                });
    }

    async Task DragStopHandler(DragEventArgs<KanbanGame.Shared.KanbanTask> args)
    {
        KanbanGame.Shared.KanbanTask draggedTask = args.Data[0];
        
        await KanbanTaskService.UpdateKanbanTask(draggedTask.Id, draggedTask);
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("UpdateKanbanTaskList", 0);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
                await hubConnection.DisposeAsync();
        }
    }
}