@page "/kanbanTasks"
@inject IKanbanTaskService KanbanTaskService
@inject NavigationManager NavigationManager
@implements IAsyncDisposable

<h3>Tasks</h3>

<table class="table">
    <thead>
        <tr>
            <th style="width:64px">Task Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Assignee Id</th>
            <th>Assignee</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in KanbanTaskService.KanbanTasks)
        {
            <tr>
                <td>@task.Id</td>
                <td>@task.Title</td>
                <td>@task.Description</td>
                <td>@task.Status</td>
                <td>@(@task.Assignee is null ? "" : @task.Assignee.Id)</td>
                <td>@(@task.Assignee is null ? "" : @task.Assignee.Name)</td>
                <td>
                    <button class="btn btn-primary"
                        @onclick="(() => ShowKanbanTask(task.Id))">
                        <i class="oi oi-pencil"></i>
                    </button>
                    <button class="btn btn-danger"
                        @onclick="(() => DeleteKanbanTask(task.Id))">
                        <i class="oi oi-trash"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
<button class="btn btn-primary"
        @onclick="CreateNewKanbanTask">
    Create New Task
</button>

@code {
    private HubConnection? hubConnection;

    protected override async Task OnInitializedAsync()
    {
        await KanbanTaskService.GetKanbanTasks();
        await Connect();
    }

    private async Task Connect()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(NavigationManager.ToAbsoluteUri("/BoardHub"))
            .Build();
    
        await hubConnection.StartAsync();

        hubConnection.On<int>("BoardUpdated", async (boardId) => 
            {
                // reload data
                await KanbanTaskService.GetKanbanTasks();
                StateHasChanged();
            });
    }
    
    void ShowKanbanTask(int id)
    {
        NavigationManager.NavigateTo($"/kanbanTask/{id}");
    }

    void CreateNewKanbanTask()
    {
        NavigationManager.NavigateTo("/kanbanTask");
    }
    async Task DeleteKanbanTask(int kanbanTaskId)
    {
        await KanbanTaskService.DeleteKanbanTask(kanbanTaskId);

        // opt1: faster - manualy remove element from list - no reload but problems
        KanbanTaskService.KanbanTasks.RemoveAll(t => t.Id == kanbanTaskId);

        // opt2: slow - remove only using service, but page needs force reload
        // NavigationManager.NavigateTo("/kanbanTasks", true); 

        if(hubConnection is not null)
        {
            await hubConnection.SendAsync("UpdateBoard", 0);
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (hubConnection != null)
        {
            await hubConnection.DisposeAsync();
        }
    }
}